.dir {
  position: relative;
  display: flex;
}

.leafarea {
   height: 40px;
   line-height: 40px;
   position:relative;
}

.leafarea .leaf{
   margin-left: 18px;
   color: black;
   box-shadow : 0 0px;
}

.leafarea .icon{
   position:absolute;
   top: 13px;
}

.leftarea{
  width: 10px;
  position: relative;
}

.titlearea{
  height: 40px;
  display: flex;
}

.directorytitle{
  line-height: 40px;
  margin-left: 4px;
  margin-right: 8px;
}


.leftarea > .smallupbox{
  box-sizing: border-box;
  height: 20px;
  width: 10px;
  border-bottom: 1px black solid;
  border-left: 2px black solid;
}

.leftarea > .smalldownbox{
  box-sizing: border-box;
  width: 10px;
  height: calc( 100% - 20px);
  border-top: 1px black solid;
  border-left: 2px black solid;
}

.titlearea > .smallupbox{
  box-sizing: border-box;
  height: 20.5px;
  width: 10px;
  border-bottom: 2px black solid;
}

.container > .dir:first-child > .leftarea > .smallupbox{
  border-left: 0px solid black;
}

.container > .dir:last-child > .leftarea > .smalldownbox{
  border-left: 0px solid black;
}
.subdirectory{
  display: none;
}
.selected > .subdirectory {
  display: block;
}